<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div>
        <h1>Quản lý sản phẩm</h1>
        <table class="container">
            {% for p in products %}
            <tr>
                <td with="100"><img src="{{ p.images }}" alt="{{ p.name }}"></td>
                <td>
                    <p>{{ p.name }}</p>
                </td>
                <td>
                    <p>{{ p.description }}</p>
                </td>
                <td>
                    <p>{{ p.price }} VNĐ</p>
                </td>
                <td>
                    <a href="#">Cập nhật</a>
                    <a href="#">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>